*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#B0BBC5;
}
img{
    display: block;
    border: 2px solid black;
}

img:hover{
    opacity: 0.7;
    border: 2px solid gray;
}

table, td{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

nav{
    display:block;
    float: center;
    width: 100%;
    background-color: #B0BBC5;
}
a{
    display: inline;
    padding: 15px 17px;
    text-align: center;
    float: center;
}

a:link, a:visited {
    background-color: #B0BBC5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: #81AFD9;
}

h1, h2, h3{
    padding: 7px;
    text-align: justify;
    border-bottom: 1px solid black;
    text-shadow: 3px 3px gray;
}

p{
    text-align: justify;
}
img{
    padding: 5px;
}
label{
    padding: 15px;
}
input, datalist, select{
    display: block;
    padding: 5px;
}
footer{
    background-color: #81AFD9;
    padding: 25px;
    border-radius: 5px;
    display: block;
}
footer p{
    text-align: right;
    margin-right: 30px;
}
section{
    padding: 5px;
}
fieldset{
    background-color: #81AFD9;
}